.card-wrapper {
    perspective: 1000px;
}

.card-wrapper>div {
    position: relative;
    transition: transform 0.s;
    transform-style: preserve-3d;
}

.card-wrapper:hover>div {
    transform: rotateY(180deg);
}


.card-front,
.card-back {
    position: absolute;
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-back {
    transform: rotateY(180deg);
    background: #44403c;
}